
@font-face {
  font-family: 'MyFont';
  src: url('/fonts/ProximaNova-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Tailwind import after the @font-face rule */
@import "tailwindcss";

/* Custom font family class */
.font-myfont {
  font-family: 'MyFont', sans-serif;
}